@{
    Layout = null;
    ViewBag.Title = "";
}

<div>
    <br />
    <div style="width:90%; margin:0 auto;">
        <div class="modal-body col-md-12">
            <div class="form-group col-md-6">
                @Html.Label("Fecha Desde")
                @Html.Editor("fromDate", new { htmlAttributes = new { @class = "form-control datepicker", data_format = "dd/mm/yyyy" } })
            </div>
            <div class="form-group col-md-6">
                @Html.Label("Fecha Hasta")
                @Html.Editor("toDate", new { htmlAttributes = new { @class = "form-control datepicker", data_format = "dd/mm/yyyy" } })
            </div>
        </div>
        <div class="modal-body col-md-12">
            <div class="form-group col-md-6">
                @Html.Label("Usuario")
                @{
                    List<SelectListItem> userList = new List<SelectListItem>();
                    userList.Add(new SelectListItem { });
                    var upList = WEBPOS.DataAccess.BusinessLayer.BlUserMobileProfile.ReadAll().Where(x => x.MobileProfileType == WEBPOS.DataAccess.DataEntities.MobileProfileType.PREVENTA).Select(x => x.UserCode);
                    var uList = WEBPOS.DataAccess.BusinessLayer.BlUser.ReadAll().Where(x => upList.Contains(x.UserCode));
                    foreach (var ob in uList)
                    {
                        userList.Add(new SelectListItem { Text = ob.UserCode + " | " + ob.Name + " " + ob.LastName, Value = ob.UserCode });
                    }
                }
                @Html.DropDownList("UserCode", userList, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group col-md-6">
                <br/>
                <a href='#' class='btn btn-primary new' onclick=onSellOrderDetail('0');><i class="fa fa-search"></i>Buscar</a>
            </div>
        </div>
        <div class="modal-body col-md-12">
            <div class="form-group col-md-12">
                <table id="sellTransactionGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Desde</th>
                            <th>Hasta</th>
                            <th>Cantidad</th>
                            <th>Articulo</th>
                        </tr>
                    </thead>
                </table>  
            </div>
        </div>
    </div>
</div>
<script>
    var table = $("#sellTransactionGrid").DataTable({

        "processing": true, // for show progress bar
        "serverSide": true, // for process server side
        "filter": true, // this is for disable filter (search box)
        "orderMulti": false, // for disable multiple column at once
        "pageLength": 5,
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
        },
        ajax: {
            url: "/SellOrder/UploadedSellOrderLoadData?userCode=" + userCode + "&dateFrom=" + fromDate + "&dateTo=" + toDate,
            type: "POST",
            datatype: "json"
        },

        "columnDefs":
            [{
                "targets": [0],
                //"visible": false,
                "searchable": false,
                "orderable": false
            },
            {
                "targets": [1],
                "searchable": false,
                "orderable": false
            },
            {
                "targets": [2],
                "searchable": false,
                "orderable": false
            },
            {
                "targets": [3],
                "searchable": false,
                "orderable": false
            },
            {
                "targets": [4],
                "searchable": false,
                "orderable": false
            }],

        "columns": [
            { "data": "UserCode", "name": "UserCode", "autoWidth": true },
            { "data": "FromDate", "name": "FromDate", "autoWidth": true },
            { "data": "ToDate", "name": "ToDate", "autoWidth": true },
            { "data": "Quantity", "name": "Quantity", "autoWidth": true },
            { "data": "ItemDescription", "name": "ItemDescription", "autoWidth": true }
        ]
    });

    var userCode = $('#UserCode').val();
    var fromDate = $('#fromDate').val().toString();
    var toDate = $('#toDate').val().toString();
    function onSellOrderDetail() {
        userCode = $('#UserCode').val();
        fromDate = $('#fromDate').val().toString();
        toDate = $('#toDate').val().toString();

        if (!userCode || !fromDate || !toDate) {
            toastr.warning('Verifique los campos antes de continuar...', 'Advertencia');
            return;
        }
        onActionClick('@Url.Action("UploadedOrders", "SellOrder" )');
    }

    
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker({ dateFormat: 'd/M/yy' }); //Initialise any date pickers
    });
</script>
